[submodule "plex"]
	path = docker/plex
	url = https://github.com/eatnumber1/docker-plex.git
[submodule "docker/supervisor"]
	path = docker/supervisor
	url = https://github.com/eatnumber1/docker-supervisor.git
[submodule "units"]
	path = units
	url = https://github.com/eatnumber1/coreos-units.git
[submodule "docker/ambassadord"]
	path = docker/ambassadord
	url = https://github.com/progrium/ambassadord.git
