[Unit]
Description=Kubernetes Configuration Tool
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin http://storage.googleapis.com/kubernetes/kubecfg
ExecStart=/usr/bin/chmod +x /opt/bin/kubecfg
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
MachineMetadata=role=kubernetes
