[Unit]
Description=Fedora sandbox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill sandbox
ExecStartPre=/usr/bin/docker pull tutum/fedora
#ExecStart=/usr/bin/docker run --name sandbox -p 2222:22 -v /space/media:/space -h sandbox tutum/fedora
ExecStart=/usr/bin/docker start -a sandbox
ExecStop=/usr/bin/docker stop sandbox
