[Unit]
Description=Fedora sandbox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill sshbox
ExecStartPre=-/usr/bin/docker rm sshbox
ExecStartPre=/usr/bin/docker pull tutum/fedora
ExecStart=/usr/bin/docker run --name sshbox -p 2222:22 -v /space/media:/space tutum/fedora
ExecStop=/usr/bin/docker stop sshbox
